<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<app-caminho></app-caminho>

<div id="login">
    <h1>Laboratório de Germinares</h1>
    <p>Realize o login! Caso seja o seu primeiro acesso, faça o cadastro</p>
    <form action="" id="formulario">
        <div id="inputs">
            <input class="input" type="text" placeholder="E-mail">
            <input class="input" type="password" placeholder="Senha">
        </div>
        <div id="botoes">
            <button class="botao"><img src="assets/Share.svg" alt="" class="icon">Cadastrar</button>
            <button type="button" class="botao" (click)="registrado()"><img src="assets/import.svg" alt="" class="icon">Fazer login</button>
        </div>
    </form>
</div>