<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
]<div id="tabela">
    <table>
        <thead>
          <tr id="cabecalho">
            <th>Nome</th>
            <th>Email</th>
            <th>Ano</th>
            <th>Serie</th>
            <th>Exatas</th>
            <th>Linguagens</th>
            <th>Ciências</th>
            <th>Media</th>
            <th>Situação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itens_listados" class="linha">
            <td>{{ item.nome }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.ano }}</td>
            <td>{{ item.serie }}</td>
            <td>{{ item.exatas }}</td>
            <td>{{ item.linguagens }}</td>
            <td>{{ item.ciencias }}</td>
            <td>{{ item.media }}</td>
            <td *ngIf="item.media >= 7; else Reprovado" style="color: rgb(2, 146, 0); background-color: lightgreen;">Aprovado</td>
            <ng-template #Reprovado>
                <td style="color:  red; background-color: lightsalmon;">Reprovado</td>
            </ng-template>
            <td>...</td>
        </tr>
        </tbody>
      </table>
      
      <div id="paginacao">
        <button (click)="paginaAnterior()">Anterior</button>
        <button *ngFor="let i of total_pagina" (click)="clique()">
            {{ i }}
        </button>
        <button (click)="proximaPagina()">Próxima</button>
      </div>
</div>