<app-sidebar></app-sidebar>
<app-caminho></app-caminho>

<div id="corpo">
  <h1 id="titulo">Gerenciamento de Notas</h1>
  <div id="pesquisa">
    <div id="primeira_parte">
      <div id="simbolo"> <img src="assets/search.svg" alt=""></div>
      <input type="text" placeholder="Busque por nome" [(ngModel)]="nome_entrada">
    </div>
    <div id="botoes">
      <button type="submit" (click)="pesquisar()"><img src="">pesquisar</button>
    <button><img src="assets/Share.svg" alt="">cadastrar alunos</button>
    </div>
  </div>
<div id="tabela">
    <table>
        <thead>
          <tr id="cabecalho">
            <th>Nome</th>
            <th>Email</th>
            <th>Ano</th>
            <th>Serie</th>
            <th>Exatas</th>
            <th>Linguagens</th>
            <th>Ciências</th>
            <th>Media</th>
            <th>Situação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itens_listados" class="linha">
            <td>{{ item.nome }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.ano }}</td>
            <td>{{ item.serie }}</td>
            <td>{{ item.exatas }}</td>
            <td>{{ item.linguagens }}</td>
            <td>{{ item.ciencias }}</td>
            <td>{{ item.media }}</td>
            <td *ngIf="item.media >= 7; else Reprovado" style="color: rgb(2, 146, 0); background-color: lightgreen;">Aprovado</td>
            <ng-template #Reprovado>
                <td style="color:  red; background-color: lightsalmon;">Reprovado</td>
            </ng-template>
            <td>&#8942;
            </td>
        </tr>
        </tbody>
      </table>  
      
      <div id="paginacao">
        <button (click)="paginaAnterior()"><p>&lt;</p></button>
      
        <button *ngFor="let i of total_pagina"
                (click)="navegarPara(i)"
                [ngStyle]="{ 'background-color': i === pagina_atual ? '#3abe8ee4' : 'transparent' }"
        >
          {{ i }}
        </button>
      
        <button (click)="proximaPagina()"><p>&gt;</p></button>
      </div>
      
</div>
</div>