 <div id="sidebar_principal">
    <div id="images">
        <div class="icon"><img src="assets\home.svg" alt=""></div>
        <div class="icon"><img src="assets\card-machine.svg" alt=""></div>
        <div class="icon"><img src="assets\university.svg" alt=""></div>
        <div class="icon"><img src="assets\scenery.svg" alt="aa"></div>
        <div class="icon"><img src="assets\scenery.svg" alt=""></div>
    </div>
    <div id="vector">
        <div class="icon"><img src="assets\Vector.svg" alt=""></div>
        
    </div>
</div>
