<mat-dialog-content>
    <button mat-icon-button mat-dialog-close class="fechar-icone" disableRipple>
        <mat-icon>close</mat-icon>
    </button>
  
    <div class="conteudo-central">
      <img src="assets/Group 9512.svg" id="imagem_erro_login" alt="Erro de login" />
      <h1>Você não está cadastrado no sistema</h1>
      <p>Tente realizar o cadastro</p>
    </div>
  
    <div class="botoes-dialogo">
      <button mat-button mat-dialog-close>Fechar</button>
    </div>
</mat-dialog-content>
  