<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<app-caminho></app-caminho>

<div id="germinares">
    <p id="texto_germinare">Laboratório de Germinares</p>
    <div id="escolhas">
        <div id="gerenciamento">
            <img src="assets\Icon.svg" class="images_home" alt="">
            <a routerLInk="/login"class="texto_home">Gerenciamento de Notas</a>
        </div>
        <div id="graficos">

            <img src="assets\grafico.svg" class="images_home" alt="">
            <a routerLInk="/graficos"class="texto_home">Gráficos</a>
        </div>
    </div>
</div>


