<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<app-caminho></app-caminho>

<div id="germinares">
    <p id="texto_germinare">Laboratório de Germinares</p>
    <div id="escolhas">
        <button id="gerenciamento" routerLink="/login">
            <img src="assets/Icon.svg" class="images_home" alt="">
            <p class="texto_home">Gerenciamento de Notas</p>
        </button>
        <button id="graficos" routerLink="/graficos">
            <img src="assets/grafico.svg" class="images_home" alt="">
            <p class="texto_home">Gráficos</p>
        </button>
    </div>
</div>


